<input type="hidden" id="session" data-user="{&quot;id&quot;:&quot;1030000000094092&quot;,&quot;name&quot;:&quot;seeyoup&quot;,&quot;url&quot;:&quot;http:\/\/segmentfault.com\/u\/seeyoup&quot;,&quot;rank&quot;:&quot;24&quot;}"/>

<!--[if lt IE 9]>
<div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->

<div class="global-nav">
  <nav class="global-nav container">
    <a href="###" id="site-nav-btn" class="visible-xs">更多</a>
    <ul class="site-nav hidden-xs">
      <li class="hidden-xs current"><a href="http://segmentfault.com/">问答</a></li>
      <li class=""><a href="http://segmentfault.com/blogs">博客</a></li>
      <li class=""><a href="http://segmentfault.com/tags">标签</a></li>
      <li class=""><a href="http://segmentfault.com/users">用户</a></li>
      <li class=""><a href="http://segmentfault.com/badges">徽章</a></li>
      <li class=""><a href="http://segmentfault.com/events">活动</a></li>
    </ul>

    <ul class="user-nav">
      <li class="has-dropdown">
        <a href="http://segmentfault.com/ask">撰写</a>
        <ul class="dropdown-item">
          <li><a href="http://segmentfault.com/ask">提出问题</a></li>
          <li><a href="http://segmentfault.com/write">撰写博客</a></li>
          <li class="hr"><a href="http://segmentfault.com/drafts">草稿</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a id="msg-link" href="http://segmentfault.com/user/events">消息</a>
      </li>
      <li class="has-dropdown">
        <a href="http://segmentfault.com/u/seeyoup">seeyoup <i class="i-arrow-s"></i></a>
        <ul class="dropdown-item">
          <li><a href="http://segmentfault.com/u/seeyoup">我的主页</a></li>

          <li><a href="http://blog.segmentfault.com/up">我的博客</a></li>

          <li><a href="http://segmentfault.com/user/settings">帐号设置</a></li>
          <li><a href="http://segmentfault.com/user/logout">退出</a></li>
          <li class="hr"><a href="http://segmentfault.com/faq">帮助中心</a></li>
          <li><a href="http://0x.segmentfault.com">建议反馈</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- end .global-nav -->
</div>
<header class="site-header">
  <div class="container inner clearfix">
    <div class="head-name">
      <a href="http://segmentfault.com/">
        <span class="head-logo">SegmentFault</span>
        <strong>问答</strong>
      </a>
    </div>
    <div class="head-search">
      <form id="search" action="http://segmentfault.com/search">
        <input type="text" class="form-control text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
        <button class="btn-search" type="submit">搜索</button>
      </form>
    </div>
    <ul class="head-nav">
      <li class="current"><a href="http://segmentfault.com/">技术问答</a></li>
      <li><a href="http://segmentfault.com/101">新手问答</a></li>
      <li><a href="http://segmentfault.com/openhw">开源硬件</a></li>
      <li><a href="http://segmentfault.com/sites">子站问答</a></li>
    </ul>
    <div class="head-misc">
      <span>找不到答案？</span> <a class="btn btn-primary action" href="http://segmentfault.com/ask">+ 提问</a>
    </div>
  </div>
</header>
<!-- end .site-header -->
<div class="container">
<div class="row edge">
<div id="main" class="col-md-9">
<div class="tab-nav">
  <h2 class="common-title">最新的问题</h2>
  <nav class="sub-tab">
    <a class="current" href="http://segmentfault.com/">最新的</a>
    <a href="http://segmentfault.com/hottest">热门的</a>
    <a href="http://segmentfault.com/unanswered">未回答的</a>
  </nav>
</div>

<div id="content">
<article class="post" id="q-1010000000497101">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/binphp" title="binphp &bull; 152"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/286/651/2866515589_medium40" alt="binphp"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000497101" title="用户权限存储问题">用户权限存储问题</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 22 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 2分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000497171">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/zaffrahn" title="ZaffRahn &bull; 43"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/236/424/2364246448-1030000000470455_medium40" alt="ZaffRahn"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000497171" title="cocos2d-x如何实现「吃金币」效果?">cocos2d-x如何实现「吃金币」效果?</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 5 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000165854" href="http://segmentfault.com/t/cocos2d-x">cocos2d-x</a>,
        </li>
        <li>
          <a data-tid="1040000000136211" href="http://segmentfault.com/t/cocos2d">cocos2d</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 8分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496654">
  <div class="status">
    <span class="answer answered" title="7 个答案">7</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/taofengalex" title="陶峰Alex &bull; 29"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/254/754/2547540062-1030000000375060_medium40" alt="陶峰Alex"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496654" title="开发手机版网站有哪些前端框架？">开发手机版网站有哪些前端框架？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 123 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089436" href="http://segmentfault.com/t/javascript">javascript</a>,
        </li>
        <li>
          <a data-tid="1040000000089409" href="http://segmentfault.com/t/html5">html5</a>,
        </li>
        <li>
          <a data-tid="1040000000090141" href="http://segmentfault.com/t/css3">css3</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 19分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000497122">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/emlight" title="EMlight &bull; 3"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/175/324/1753247966-1030000000476393_medium40" alt="EMlight"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000497122" title="怎样让phpcs中PSR2规范让函数/类的开花括号可以跟函数定义放在同一行">怎样让phpcs中PSR2规范让函数/类的开花括号可以跟函数定义放在同一行</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 12 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a>,
        </li>
        <li>
          <a data-tid="1040000000089467" href="http://segmentfault.com/t/vim">vim</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 34分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496815">
  <div class="status">
    <span class="answer answered" title="1 个答案">1</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/smallpig" title="会飞的小猪 &bull; 37"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/189/235/1892359790-1030000000094155_medium40" alt="会飞的小猪"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496815" title="PHP：如何用较少的代码实现如下需求呢？">PHP：如何用较少的代码实现如下需求呢？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 71 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 36分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496993">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/jesuspan" title="杰斯潘潘潘 &bull; 15"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/257/078/2570783164-1030000000491425_medium40" alt="杰斯潘潘潘"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496993" title="php与lua的关联?nginx与lua的关联?">php与lua的关联?nginx与lua的关联?</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 34 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a>,
        </li>
        <li>
          <a data-tid="1040000000090208" href="http://segmentfault.com/t/lua">lua</a>,
        </li>
        <li>
          <a data-tid="1040000000090145" href="http://segmentfault.com/t/nginx">nginx</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 49分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496596">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/mechille" title="mechille &bull; 550"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/304/305/3043058031-1030000000092536_medium40" alt="mechille"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496596" title="php的字串符 1/4，如何得出结果">php的字串符 1/4，如何得出结果</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 72 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 54分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000497043">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/paul_king" title="Paul King &bull; 10"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/156/576/156576106-1030000000465235_medium40" alt="Paul King"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000497043" title="如何恢复Chrome删除的书签(已同步)">如何恢复Chrome删除的书签(已同步)</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 21 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089407" href="http://segmentfault.com/t/chrome">chrome</a>,
        </li>
        <li>
          <a data-tid="1040000000090410" href="http://segmentfault.com/t/date">date</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 58分钟前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496232">
  <div class="status">
    <span class="answer answered" title="1 个答案">1</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/jflame" title="jflame &bull; 74"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/167/599/1675990710-1030000000444074_medium40" alt="jflame"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496232" title="js的promise如何递归调用？">js的promise如何递归调用？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 61 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089436" href="http://segmentfault.com/t/javascript">javascript</a>,
        </li>
        <li>
          <a data-tid="1040000000356342" href="http://segmentfault.com/t/promise">promise</a>,
        </li>
        <li>
          <a data-tid="1040000000089899" href="http://segmentfault.com/t/%E5%89%8D%E7%AB%AF">前端</a>,
        </li>
        <li>
          <a data-tid="1040000000090169" href="http://segmentfault.com/t/ajax">ajax</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 1小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496191">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/bbb" title="bbb &bull; 7"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/128/035/1280353325-1030000000492414_medium40" alt="bbb"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496191" title="Sublime Text 2和Sublime Text 3的区别？？">Sublime Text 2和Sublime Text 3的区别？？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 137 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000126097" href="http://segmentfault.com/t/sublime-text">sublime-text</a>,
        </li>
        <li>
          <a data-tid="1040000000089484" href="http://segmentfault.com/t/%E7%BC%96%E8%BE%91%E5%99%A8">编辑器</a>,
        </li>
        <li>
          <a data-tid="1040000000089556" href="http://segmentfault.com/t/%E7%A8%8B%E5%BA%8F%E5%91%98">程序员</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 1小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496866">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/mwyangfan" title="mwyangfan &bull; 7"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="mwyangfan"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496866" title="容器删除后，主机映射给容器的端口为何并立即未回收利用？">容器删除后，主机映射给容器的端口为何并立即未回收利用？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 25 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000366352" href="http://segmentfault.com/t/docker">docker</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 2小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496839">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/mwyangfan" title="mwyangfan &bull; 7"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="mwyangfan"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496839" title="如何限制容器内存大小？">如何限制容器内存大小？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 35 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000366352" href="http://segmentfault.com/t/docker">docker</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 2小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000431718">
  <div class="status">
    <span class="answer answered-accepted" title="10 个答案">10</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/yepman" title="YepMan &bull; 66"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/135/480/1354802342-1030000000202487_medium40" alt="YepMan"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000431718" title="请教一种大量数据的快速排序的方法">请教一种大量数据的快速排序的方法</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 548 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089524" href="http://segmentfault.com/t/%E7%AE%97%E6%B3%95">算法</a>,
        </li>
        <li>
          <a data-tid="1040000000090336" href="http://segmentfault.com/t/%E6%8E%92%E5%BA%8F">排序</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 2小时前</span>
    </div>
    <div class="p-excerpt excerpt-bg">
      <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="liwq" href="http://segmentfault.com/u/liwq" data-tip="n:liwq <cite>&bull;</cite> <strong>57</strong>"><img class="avatar-32" src="http://s.segmentfault.com/img/user-32.png?14.3.24.1" alt="liwq"/></a>

      <p>
        记得快速排序的平均时间复杂度是 nlog(n）,你可以进行一次快速排序以后，两个线程处理，然后再快排一次，四个线程处理。。。或者你可以处理一下你的 key 值，尽量让左右两边的个数相等，时间复杂度达到 nlogn。要么就堆排序，最坏情况也是 nlogn.我能想到的，希望能有帮助。 <a href="http://segmentfault.com/q/1010000000431718/a-1020000000431790" class="readmore">阅读全部</a>
      </p>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496453">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/armyding929" title="Armyding929 &bull; 50"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="Armyding929"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496453" title="bootstrap 可否实现table表列可以移动">bootstrap 可否实现table表列可以移动</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 55 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000496452" href="http://segmentfault.com/t/table-resizable-colu">table-resizable-colu</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 2小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000494260">
  <div class="status">
    <span class="answer answered" title="4 个答案">4</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/blackshow" title="blackshow &bull; 26"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/146/777/1467778190-1030000000494233_medium40" alt="blackshow"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000494260" title="提供Restful API的时候如何确保接口的安全性？">提供Restful API的时候如何确保接口的安全性？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 178 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089654" href="http://segmentfault.com/t/api">api</a>,
        </li>
        <li>
          <a data-tid="1040000000090858" href="http://segmentfault.com/t/restful">restful</a>,
        </li>
        <li>
          <a data-tid="1040000000090585" href="http://segmentfault.com/t/rest">rest</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 3小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496502">
  <div class="status">
    <span class="answer answered-accepted" title="3 个答案">3</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/smallpig" title="会飞的小猪 &bull; 37"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/189/235/1892359790-1030000000094155_medium40" alt="会飞的小猪"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496502" title="PHP：如何快速取出第一个数组元素的值呢？">PHP：如何快速取出第一个数组元素的值呢？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 90 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
    <div class="p-excerpt excerpt-bg">
      <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="Fwolf" href="http://segmentfault.com/u/fwolf" data-tip="n:Fwolf <cite>&bull;</cite> <strong>293</strong>"><img class="avatar-32" src="http://sfault-avatar.b0.upaiyun.com/197/157/1971575242-1030000000173722_small" alt="Fwolf"/></a>

      <p>
        新数组的话可以用 current()，不放心的旧数组的话可以 reset(), current(), 可以改动数据的话 array_shift()，最差的方式是 $fruits[0] 及类似方法。 另，建议多读手册。 <a href="http://segmentfault.com/q/1010000000496502/a-1020000000496507" class="readmore">阅读全部</a>
      </p>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000495636">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/xiaobeicn" title="宋小北 &bull; 1k"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/330/311/3303113632-1030000000332431_medium40" alt="宋小北"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000495636" title="网站如何精准的推送出精华问题？">网站如何精准的推送出精华问题？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 194 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089566" href="http://segmentfault.com/t/%E6%8E%A8%E8%8D%90">推荐</a>,
        </li>
        <li>
          <a data-tid="1040000000090593" href="http://segmentfault.com/t/%E6%8E%A8%E8%8D%90%E7%AE%97%E6%B3%95">推荐算法</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496269">
  <div class="status">
    <span class="answer answered" title="3 个答案">3</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/hewen" title="贺文 &bull; 20"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="贺文"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496269" title="php 判断在线用户">php 判断在线用户</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 97 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000485244">
  <div class="status">
    <span class="answer answered" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/wua_wua2012" title="wua_wua2012 &bull; 3"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/207/730/2077301223-1030000000441326_medium40" alt="wua_wua2012"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000485244" title="如何优化tableview滚动速度">如何优化tableview滚动速度</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 109 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089442" href="http://segmentfault.com/t/ios">ios</a>,
        </li>
        <li>
          <a data-tid="1040000000118875" href="http://segmentfault.com/t/uitableview">uitableview</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000489601">
  <div class="status">
    <span class="answer answered" title="32 个答案">32</span>
    <span class="vote voted" title="2 个投票">2</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/oyanglulu" title="oyanglulu &bull; 210"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/125/416/1254169617-1030000000399380_medium40" alt="oyanglulu"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000489601" title="说说你觉得最狂霸酷炫屌炸天的命令">说说你觉得最狂霸酷炫屌炸天的命令</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 1.4k 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089669" href="http://segmentfault.com/t/shell">shell</a>,
        </li>
        <li>
          <a data-tid="1040000000089392" href="http://segmentfault.com/t/linux">linux</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496532">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/elviseno" title="elviseno &bull; 23"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/306/744/3067447611-1030000000475508_medium40" alt="elviseno"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496532" title="如何在sublime text 中使用markdown preview 生成GFM 渲染的html？">如何在sublime text 中使用markdown preview 生成GFM 渲染的html？</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 38 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000091226" href="http://segmentfault.com/t/github">github</a>,
        </li>
        <li>
          <a data-tid="1040000000090338" href="http://segmentfault.com/t/markdown">markdown</a>,
        </li>
        <li>
          <a data-tid="1040000000496531" href="http://segmentfault.com/t/gfm">gfm</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000494935">
  <div class="status">
    <span class="answer answered-accepted" title="3 个答案">3</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/jerrywinner" title="JerryWinner &bull; 22"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/119/445/1194453810-1030000000471757_medium40" alt="JerryWinner"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000494935" title="YII框架这段代码是啥意思？是moudles里面view中default中的index.php">YII框架这段代码是啥意思？是moudles里面view中default中的index.php</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 91 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a>,
        </li>
        <li>
          <a data-tid="1040000000090398" href="http://segmentfault.com/t/yii">yii</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 4小时前</span>
    </div>
    <div class="p-excerpt excerpt-bg">
      <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="StephenLee" href="http://segmentfault.com/u/stephenlee" data-tip="n:StephenLee <cite>&bull;</cite> <strong>2.6k</strong>"><img class="avatar-32" src="http://sfault-avatar.b0.upaiyun.com/300/585/3005858746-1030000000328771_small" alt="StephenLee"/></a>

      <p>
        注释里面不是写了吗？ {代码...} <a href="http://segmentfault.com/q/1010000000494935/a-1020000000494994" class="readmore">阅读全部</a>
      </p>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496461">
  <div class="status">
    <span class="answer answered" title="1 个答案">1</span>
    <span class="vote voted" title="2 个投票">2</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/water_cn" title="waTer_CN &bull; 53"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/336/743/3367430904-1030000000137656_medium40" alt="waTer_CN"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496461" title="用完美洗牌算法实现n-Rook采样器遇到的问题">用完美洗牌算法实现n-Rook采样器遇到的问题</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 39 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089741" href="http://segmentfault.com/t/c%2B%2B">c++</a>,
        </li>
        <li>
          <a data-tid="1040000000496449" href="http://segmentfault.com/t/%E5%9B%BE%E5%BD%A2%E5%AD%A6">图形学</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 5小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496478">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/biean2013" title="biean2013 &bull; 23"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="biean2013"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496478" title="上传视频自动获取视频的缩略图">上传视频自动获取视频的缩略图</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 33 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000496477" href="http://segmentfault.com/t/%E8%87%AA%E5%8A%A8%E7%BC%A9%E7%95%A5%E5%9B%BE">自动缩略图</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 5小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496316">
  <div class="status">
    <span class="answer answered" title="7 个答案">7</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/biean2013" title="biean2013 &bull; 23"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="biean2013"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496316" title="做网站时 使用utf-8编码好还是使用gb2312编码好">做网站时 使用utf-8编码好还是使用gb2312编码好</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 140 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000117470" href="http://segmentfault.com/t/%E7%BC%96%E7%A0%81">编码</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 5小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496421">
  <div class="status">
    <span class="answer" title="0 个答案">0</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/ericc" title="Eric . c &bull; 1"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/241/322/2413228389-1030000000495084_medium40" alt="Eric . c"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496421" title="redis 有序集 并发写入数据问题">redis 有序集 并发写入数据问题</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 45 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089431" href="http://segmentfault.com/t/redis">redis</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 5小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000495097">
  <div class="status">
    <span class="answer answered closed" title="3 个答案">3</span>
    <span class="vote voted" title="-4 个投票">-4</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/hewen" title="贺文 &bull; 20"><img class="avatar-40" src="http://s.segmentfault.com/img/user-40.png?14.3.24.1" alt="贺文"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000495097" title="php 错误分析">php 错误分析</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 114 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089387" href="http://segmentfault.com/t/php">php</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 6小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000496105">
  <div class="status">
    <span class="answer answered-accepted" title="2 个答案">2</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/yinliangcan" title="尹良灿 &bull; 3"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/214/708/2147088765-1030000000185720_medium40" alt="尹良灿"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000496105" title="脚本中和在解释器中使用 fs.readFile() 得到不同的结果">脚本中和在解释器中使用 fs.readFile() 得到不同的结果</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 66 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089918" href="http://segmentfault.com/t/node.js">node.js</a>,
        </li>
        <li>
          <a data-tid="1040000000090527" href="http://segmentfault.com/t/%E5%9B%9E%E8%B0%83%E5%87%BD%E6%95%B0">回调函数</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 6小时前</span>
    </div>
    <div class="p-excerpt excerpt-bg">
      <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="silenceper" href="http://segmentfault.com/u/silenceper" data-tip="n:silenceper <cite>&bull;</cite> <strong>323</strong>"><img class="avatar-32" src="http://sfault-avatar.b0.upaiyun.com/188/921/1889217011-1030000000257348_small" alt="silenceper"/></a>

      <p>
        试下: {代码...} 因为当保存为文件的时候，这里就用到了fs.readFile ，而nodejs是异步非阻塞的. 它会先执行后面的代码，当文件读取完之后再执行callback中的方法，所以fs.readFile还没有执行完，就执行了后面来计算行数，当然为0了。 你可以在callback 中console.log('hello')，看看执行顺序就知道了！ tips:你用callbac... <a href="http://segmentfault.com/q/1010000000496105/a-1020000000496273" class="readmore">阅读全部</a>
      </p>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000494989">
  <div class="status">
    <span class="answer answered" title="5 个答案">5</span>
    <span class="vote" title="0 个投票">0</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/skyfjn2046" title="skyfjn2046 &bull; 6"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/228/470/2284709929-1030000000494948_medium40" alt="skyfjn2046"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000494989" title="JS静态页面交互">JS静态页面交互</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 156 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089434" href="http://segmentfault.com/t/css">css</a>,
        </li>
        <li>
          <a data-tid="1040000000089436" href="http://segmentfault.com/t/javascript">javascript</a>,
        </li>
        <li>
          <a data-tid="1040000000117807" href="http://segmentfault.com/t/web%E5%89%8D%E7%AB%AF%E5%BC%80%E5%8F%91">web前端开发</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 6小时前</span>
    </div>
  </div>
</article>
<article class="post" id="q-1010000000460150">
  <div class="status">
    <span class="answer answered-accepted" title="12 个答案">12</span>
    <span class="vote voted" title="3 个投票">3</span>
  </div>
  <div class="p-summary">
    <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="http://segmentfault.com/u/yepman" title="YepMan &bull; 66"><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/135/480/1354802342-1030000000202487_medium40" alt="YepMan"/></a>

    <h2><a href="http://segmentfault.com/q/1010000000460150" title="app开发还是网页开发">app开发还是网页开发</a></h2>

    <div class="meta">
      <span class="views"><i class="i-view"></i> 1.6k 次浏览</span>&nbsp;
      <ul class="meta-tags">
        <li><i class="i-tag"></i></li>
        <li>
          <a data-tid="1040000000089556" href="http://segmentfault.com/t/%E7%A8%8B%E5%BA%8F%E5%91%98">程序员</a>,
        </li>
        <li>
          <a data-tid="1040000000089794" href="http://segmentfault.com/t/web">web</a>,
        </li>
        <li>
          <a data-tid="1040000000090312" href="http://segmentfault.com/t/app">app</a></li>
      </ul>
      &nbsp;
      <span class="datetime"><i class="i-time"></i> 7小时前</span>
    </div>
    <div class="p-excerpt excerpt-bg">
      <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="woody" href="http://segmentfault.com/u/woody" data-tip="n:woody <cite>&bull;</cite> <strong>2k</strong>"><img class="avatar-32" src="http://sfault-avatar.b0.upaiyun.com/826/702/826702708-1030000000376333_small" alt="woody"/></a>

      <p>
        现在已经没有网页、app区别。 一个流行产品，基本覆盖了所有终端。譬如你会PHP，那么你写的接口可能web、与手机客户端都在调用。 我个人对游戏不是特别感冒，感觉很没想象力呢。而且游戏面临这样一个问题，设计师和关卡（诸如此类）设计者直接影响着用户感受，相比其它产品而言程序员在其中起到的作用不是特别大。国外游... <a href="http://segmentfault.com/q/1010000000460150/a-1020000000461515" class="readmore">阅读全部</a>
      </p>
    </div>
  </div>
</article>
<div class="page-nav">
  <ul class="pagination">
    <li class="active"><a href="http://segmentfault.com/newest?page=1">1</a></li>
    <li><a href="http://segmentfault.com/newest?page=2">2</a></li>
    <li><a href="http://segmentfault.com/newest?page=3">3</a></li>
    <li><a href="http://segmentfault.com/newest?page=4">4</a></li>
    <li><a href="http://segmentfault.com/newest?page=5">5</a></li>
    <li class="disabled"><span>&hellip;</span></li>
    <li><a class="next" href="http://segmentfault.com/newest?page=2">下一页</a></li>
  </ul>
</div>
</div>
<!-- end #content -->
</div>
<!-- end #main -->

<div id="secondary" class="col-md-3 hidden-xs hidden-sm">

  <aside id="profile-tab">
    <nav class="navlist-group navlist-group-right">
      <a class="navlist-group-item" href="http://segmentfault.com/bookmarked">我收藏的内容</a>
      <a class="navlist-group-item" href="http://segmentfault.com/users/following">我关注的人</a>
      <a class="navlist-group-item" href="http://segmentfault.com/user/invitation">邀请朋友加入</a>
    </nav>
  </aside>

  <aside class="box follow-tags">
    <a href="http://segmentfault.com/tags" class="i-more right" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="更多">更多</a>

    <h3>关注 <a href="http://segmentfault.com/tags/following">3</a> 个标签</h3>
    <ul class="tag-ranking-list show-pop-tag">
      <li>
        <a data-tid="1040000000089436" href="http://segmentfault.com/t/javascript" class="tag">javascript</a>
      </li>
      <li>
        <a data-tid="1040000000089646" href="http://segmentfault.com/t/ruby-on-rails" class="tag tag-img" style="background-image: url(http://sfault-avatar.b0.upaiyun.com/210/885/2108853470-i-1040000000089646_icon);">ruby-on-rails</a>
      </li>
      <li>
        <a data-tid="1040000000089699" href="http://segmentfault.com/t/ruby" class="tag tag-img" style="background-image: url(http://sfault-avatar.b0.upaiyun.com/236/829/2368296350-i-1040000000089699_icon);">ruby</a>
      </li>
    </ul>
  </aside>

  <div style="margin-top: 20px" class="ad-imgs">
    <div class="ai-item" data-adn='ad-hr'>
      <a href="http://segmentfault.com/hiring" target="_blank" style="display: block; width: 220px;">
        <img src="http://s.segmentfault.com/img/3rd/hire-engineer.png?14.3.24.1" alt="招聘PHP/前端/移动端工程师" title="招聘PHP/前端/移动端工程师"/>
      </a>
      <a class="close" aria-hidden="true">&times;</a>
    </div>
    <div class="ai-item" data-adn='ad-apply'>
      <a href="http://segmentfault.com/article/apply" target="_blank" style="display: block;"><img src="http://blog.segmentfault.com/usr/uploads/2013/09/3710900358.png" alt="文章：申请内测"/></a>
      <a class="close" aria-hidden="true">&times;</a>
    </div>

  </div>

  <aside class="box">
    <a href="http://segmentfault.com/user/timeline" class="i-more right" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="更多">更多</a>

    <h3>新鲜事</h3>
    <ul class="timestream show-pop-tag">
      <li class="nothing">暂时没有新鲜事哦<br/>关注了别人就会有新鲜事</li>
    </ul>
  </aside>


</div>
<!-- end #secondary -->
</div>
</div>
<!-- end .wrap -->


<footer id="footer">
  <div class="container">
    <div class="row inner hidden-xs">
      <dl class="col-sm-2 site-link">
        <dt>网站相关</dt>
        <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
        <dd><a href="http://segmentfault.com/tos">服务条款</a></dd>
        <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
        <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
        <dd><a href="http://weekly.segmentfault.com/">每周精选</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>联系合作</dt>
        <dd><a href="http://segmentfault.com/hiring">加入我们</a></dd>
        <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
        <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>常用链接</dt>
        <dd><a href="http://blog.segmentfault.com/devblog" target="_blank">开发日志</a></dd>
        <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
        <dd><a href="http://segmentfault.com/events?category=4">黑客马拉松</a></dd>
        <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        <dd><a href="http://mirrors.segmentfault.com/">文档镜像</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>关注我们</dt>
        <dd><a href="http://segmentfault.com/feeds">问答 RSS 订阅</a></dd>
        <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
        <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
        <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
        <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
      </dl>
      <dl class="col-sm-4 site-link" id="license">
        <dt>内容许可</dt>
        <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
        <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC 服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&amp;utm_medium=link&amp;utm_campaign=upyun&amp;md=segmentfault">又拍云</a> 提供 CDN 存储服务</dd>
      </dl>
    </div>
    <div class="copyright">
      Copyright &copy; 2011-2014 SegmentFault. 当前呈现版本 14.3.20 <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
  </div>
</footer>


<a id="backtop" class="mobi-hide hidden" href="#body">回顶部</a>


<script>$(document).ready(function () {
    $('#session').login();
    $('input, textarea').placeholder();
    $('input.input-error,textarea.input-error').keyup(function () {
        $('.text-error', $(this).removeClass('input-error').parent()).remove();
    });
    $('.has-dropdown > a').click(function () {
        var $item = $(this).parent();
        $("#site-nav-btn").removeClass('active');
        $('.site-nav').addClass('hidden-xs');
        $(".has-dropdown").not($item).removeClass('active');
        $item.toggleClass('active');
        return false;
    });
    $('html').click(function () {
        $(".has-dropdown, #site-nav-btn").removeClass('active');
        $('.site-nav').addClass('hidden-xs');
    });
    $('#site-nav-btn').click(function () {
        $(".has-dropdown").removeClass('active');
        $(this).toggleClass('active');
        $('.site-nav').toggleClass('hidden-xs');
        return false;
    });
    $(document).scroll(function () {
        if ($(this).scrollTop() > 720) {
            $('#backtop').removeClass('hidden');
        }
        else{
            $('#backtop').addClass('hidden');
        }
    });
    $('#backtop').click(function () {
        $('body,html').animate({scrollTop: 0});
        return false;
    })
    $('#msg-link').eventPopup({url: 'http://x.segmentfault.com/event'});
    $('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag', '#main');
    $('#search .input-search').searchAutoComplete({url: 'http://x.segmentfault.com/autocomplete', insertAfter: '#search', searchUrl: 'http://segmentfault.com/search', askUrl: 'http://segmentfault.com/ask', ask: '#top-nav a.btn-m'});
    $('button.close', $('.top-alert').fadeIn()).click(function () {
        $(this).parents('.top-alert').fadeOut(function () {
            $(this).remove();
        });
        return false;
    });
    $('a.msg-close', $('#msg-bar').fadeIn().sticky()).click(function () {
        $(this).parent().fadeOut(function () {
            $(this).parent().remove();
        });
        return false;
    });
    var topNav = $('.head-nav'), search = $('#search .input-search').css({'position': 'relavtive', 'z-index': 10}), searchWidth = search.outerWidth();
    search.focus(function () {
        search.animate({width: searchWidth * 1.5}, 'fast');
        topNav.hide();
    }).blur(function () {
        if (0 == search.val().length) {
            search.animate({width: searchWidth}, 'fast', function () {
                topNav.show();
            });
        }
    });
    $('[rel=tooltip]').tooltip({container: 'body'});
    if ($('#profile-tab,.greeting').length > 0) {
        $.get('http://x.segmentfault.com/news', function (o) {
            if (!o.status && o.data) {
                var cv = $.cookie('sfns_viewed'), viewed = (!!cv ? cv + ',' : '');
                if (viewed.indexOf(o.data[0]) < 0) {
                    var a = $('<a href="' + o.data[1] + '" target="_blank" class="update-log rounded-2">'
                            + '<strong>' + o.data[3] + '更新</strong> ' + o.data[2] + '</a>').prependTo('#secondary').animate({backgroundColor: '#ffebb7'}, 'slow', function () {
                        $(this).animate({backgroundColor: '#FFF7E2'}, 'slow');
                    }).click(function () {
                        $.cookie('sfns_viewed', viewed + o.data[0], {path: '/', expires: 30});
                        $(this).remove();
                    });
                }
            }
        }, 'jsonp');
    }
    if (login) {
        $('#main, .layout-main').highlightTag({url: 'http://x.segmentfault.com/tag/following', selector: '#content article .meta-tags li a, #user-question article .meta-tags li a,'
                + ' .article-item .tags li a', className: 'q-highlight'});
    }
    else if (0 == $('.auth-login,.session-form,.session-finished').length) {
        if (1 != $.cookie('sfln_viewed')) {
            $.cookie('sfln_viewed', 1, {path: '/'});
            $.cookie('sfln_available', 1, {path: '/'});
        }
        else if (1 == $.cookie('sfln_available')) {
            $('.i-cancel', $('.login-notify').css('bottom', -60).removeClass('hidden').animate({'bottom': 0})).click(function () {
                $.cookie('sfln_available', 0, {path: '/'});
                $(this).parents('.login-notify').animate({'bottom': -60}, function () {
                    $(this).remove();
                })
                return false;
            });
        }
        else if (0 == $.cookie('sfln_available')) {
            $('.login-notify').css({'padding': '10px 0', 'text-align': 'center', 'bottom': -80}).html('<div class="row find-more-world">一寸代码一寸血，十万开发十万军 <a id="login-link" href="http://segmentfault.com/user/login">加入我们</a> 创造属于开发者的时代</div>').animate({'bottom': 0});
        }
    }
    var tagInterestShow = false;
    $('.tag-interest-click').click(function () {
        if (!tagInterestShow) {
            $('.tag-interest-list').fadeIn();
            tagInterestShow = true;
        }
        else{
            $('.tag-interest-list').fadeOut();
            tagInterestShow = false;
        }
        return false;
    });
    function hotkeySubmit1(arg) {
        $(arg.parents).on('focus', arg.textArea, function () {
            var t = $(this).closest(arg.scope);
            Mousetrap.bind(arg.hotkey, function () {
                $(arg.submitBtn, t).trigger('click');
            });
        }).on('blur', '.mousetrap', function () {
            Mousetrap.bind(arg.hotkey, function () {
                return false;
            });
        });
    }

    hotkeySubmit1({parents: '.write-event-comment', textArea: '.mousetrap', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '.write-event-comment', textArea: '.mousetrap', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '.write-content', textArea: '#wmd-input', scope: 'body', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.action'});
    hotkeySubmit1({parents: '#blog-main', textArea: '#comment-text', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '.comment-list', textArea: '.add-comment-text', scope: '.add-comment', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '#write-answer', textArea: '#wmd-input', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'input[type = submit]'});
    hotkeySubmit1({parents: '#question', textArea: '.add-comment-text', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'input[type = submit]'});
    hotkeySubmit1({parents: '#question', textArea: '.modify-comment-text', scope: '.add-comment', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.action'});
    hotkeySubmit1({parents: '#answer', textArea: '.add-comment-text', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'input[type = submit]'});
    hotkeySubmit1({parents: '#answer', textArea: '.modify-comment-text', scope: '.add-comment', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.action'});
    hotkeySubmit1({parents: '#ask', textArea: '#wmd-input', scope: '#ask', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.ask-q-submit'});
    hotkeySubmit1({parents: '.edit-post', textArea: '#wmd-input', scope: 'body', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.edit-q-submit'});
    var $adImgs = $('.ad-imgs');
    if ($adImgs.length > 0) {
        $adImgs.find('.ai-item').each(function () {
            var $close = $(this).find('.close');
            if ($.cookie($(this).data('adn')) == 1) {
                $(this).hide();
            }
            $close.on('click', function () {
                $(this).parent().slideUp();
                $.cookie($(this).parent().data('adn'), 1);
            })
            $(this).on('mouseover', function () {
                $close.show();
            }).on('mouseout', function () {
                $close.hide();
            })
        })
    }
});
</script>