<div class="container wrap">

  <div class="row inner edge">
    <div class="col-xs-12">
      <h2 class="common-title">提出新问题</h2>
    </div>

    <form id="ask" action="http://segmentfault.com/question/post?_=92d3c4183a822841677248628e92246b" method="post">
      <div id="edit-main" class="col-xs-12 col-md-8">
        <div id="content" class="edit-post">
          <div class="p">
            <label for="title" class="hid">标题</label>
            <input type="text" name="title" tabindex="1" value="" class="form-control input-lg text-34" autocomplete="off" spellcheck="false" placeholder="标题，用一句话说清你的问题">
          </div>


          <div class="p">
            <label for="wmd-input" class="hid">内容</label>
            <textarea id="wmd-input" class="form-control mono mousetrap textarea-14" name="text" tabindex="2" autocomplete="off" spellcheck="false" rows="15"></textarea><span class="resize"></span>
          </div>

          <div class="p">
            <input type="submit" class="btn btn-primary btn-lg btn-xl action w-xxl ask-q-submit btn-disabled" tabindex="7" value="提交问题" >
          </div>

        </div>
        <!-- end #content -->
      </div>
      <!-- end #edit-main -->

      <div id="edit-secondary" class="col-xs-12 col-md-4">
        <aside class="warn edit-guide">
          <h3>提问指南</h3>
          <ul>
            <li>内容与技术相关，有明确的答案，有代码贴代码，附上已尝试过的解决方案</li>
            <li>良好的排版，正确使用 Markdown 语法</li>
          </ul>
        </aside>

        <div class="tag-edit-form p q-info rounded-2">
          <h3 class="required">问题标签（至少 1 个）</h3>
          <ul class="tag-list show-pop-tag">
            <li class="add-tag">
              <input type="text" class="form-control pull-left text-28 w-xl mousetrap tag-input" autocomplete="off" tabindex="3" placeholder="如：php"><input id="tag-detect" type="hidden" value="">
              <span class="tag-select active">选择</span>
              <input type="button" class="btn btn-default btn-l tag-input-btn" value="添加">
            </li>
          </ul>
          <div class="tag-all-list" style="display: block;">
            <ul class="tag-index">
              <li rel="0" class="current">A-D</li>
              <li rel="1">E-H</li>
              <li rel="2">I-L</li>
              <li rel="3">M-Q</li>
              <li rel="4">R-V</li>
              <li rel="5">W-Z</li>
            </ul>
            <ul class="tag-index-section">
              <li><a href="#" data-tid="1040000000089658" class="tag">android</a></li>
              <li><a href="#" data-tid="1040000000089434" class="tag">css</a></li>
              <li><a href="#" data-tid="1040000000089556" class="tag">程序员</a></li>
              <li><a href="#" data-tid="1040000000089754" class="tag">编程</a></li>
              <li><a href="#" data-tid="1040000000089741" class="tag">c++</a></li>
              <li><a href="#" data-tid="1040000000089457" class="tag">c</a></li>
              <li><a href="#" data-tid="1040000000089564" class="tag">django</a></li>
              <li><a href="#" data-tid="1040000000089761" class="tag">apache</a></li>
              <li><a href="#" data-tid="1040000000089581" class="tag">c#</a></li>
              <li><a href="#" data-tid="1040000000089407" class="tag">chrome</a></li>
              <li><a href="#" data-tid="1040000000090169" class="tag">ajax</a></li>
              <li><a href="#" data-tid="1040000000364314" class="tag">avos-cloud</a></li>
              <li><a href="#" data-tid="1040000000090141" class="tag">css3</a></li>
              <li><a href="#" data-tid="1040000000090533" class="tag">安全</a></li>
              <li><a href="#" data-tid="1040000000089654" class="tag">api</a></li>
              <li><a href="#" data-tid="1040000000090249" class="tag">centos</a></li>
              <li><a href="#" data-tid="1040000000089484" class="tag">编辑器</a></li>
              <li><a href="#" data-tid="1040000000089686" class="tag">bash</a></li>
              <li><a href="#" data-tid="1040000000091210" class="tag">bootstrap</a></li>
              <li><a href="#" data-tid="1040000000090433" class="tag">asp.net</a></li>
            </ul>
            <ul class="tag-index-section hidden">
              <li><a href="#" data-tid="1040000000089571" class="tag">html</a></li>
              <li><a href="#" data-tid="1040000000089409" class="tag">html5</a></li>
              <li><a href="#" data-tid="1040000000089459" class="tag">git</a></li>
              <li><a href="#" data-tid="1040000000197235" class="tag">翻译</a></li>
              <li><a href="#" data-tid="1040000000090203" class="tag">go</a></li>
              <li><a href="#" data-tid="1040000000125263" class="tag">flask</a></li>
              <li><a href="#" data-tid="1040000000091226" class="tag">github</a></li>
              <li><a href="#" data-tid="1040000000089706" class="tag">http</a></li>
              <li><a href="#" data-tid="1040000000089496" class="tag">服务器</a></li>
              <li><a href="#" data-tid="1040000000090252" class="tag">flash</a></li>
              <li><a href="#" data-tid="1040000000089509" class="tag">eclipse</a></li>
              <li><a href="#" data-tid="1040000000145466" class="tag">黑客马拉松</a></li>
              <li><a href="#" data-tid="1040000000090592" class="tag">hibernate</a></li>
              <li><a href="#" data-tid="1040000000090217" class="tag">firefox</a></li>
              <li><a href="#" data-tid="1040000000090401" class="tag">缓存</a></li>
              <li><a href="#" data-tid="1040000000089729" class="tag">email</a></li>
              <li><a href="#" data-tid="1040000000089659" class="tag">google</a></li>
              <li><a href="#" data-tid="1040000000090216" class="tag">emacs</a></li>
              <li><a href="#" data-tid="1040000000089648" class="tag">hadoop</a></li>
              <li><a href="#" data-tid="1040000000090541" class="tag">https</a></li>
            </ul>
            <ul class="tag-index-section hidden">
              <li><a href="#" data-tid="1040000000089436" class="tag">javascript</a></li>
              <li><a href="#" data-tid="1040000000089442" class="tag">ios</a></li>
              <li><a href="#" data-tid="1040000000089449" class="tag">java</a></li>
              <li><a href="#" data-tid="1040000000089392" class="tag">linux</a></li>
              <li><a href="#" data-tid="1040000000089733" class="tag">jquery</a></li>
              <li><a href="#" data-tid="1040000000089498" class="tag">iphone</a></li>
              <li><a href="#" data-tid="1040000000090043" class="tag">json</a></li>
              <li><a href="#" data-tid="1040000000089474" class="tag">浏览器</a></li>
              <li><a href="#" data-tid="1040000000089983" class="tag">框架</a></li>
              <li><a href="#" data-tid="1040000000090793" class="tag">java-ee</a></li>
              <li><a href="#" data-tid="1040000000125504" class="tag">internet-explorer</a></li>
              <li><a href="#" data-tid="1040000000089516" class="tag">jsp</a></li>
              <li><a href="#" data-tid="1040000000194721" class="tag">开源硬件</a></li>
              <li><a href="#" data-tid="1040000000144814" class="tag">jquery插件</a></li>
              <li><a href="#" data-tid="1040000000126528" class="tag">开放源代码</a></li>
              <li><a href="#" data-tid="1040000000160277" class="tag">linux-kernel</a></li>
              <li><a href="#" data-tid="1040000000090830" class="tag">javaweb</a></li>
              <li><a href="#" data-tid="1040000000255430" class="tag">ios7</a></li>
              <li><a href="#" data-tid="1040000000090257" class="tag">iframe</a></li>
              <li><a href="#" data-tid="1040000000119985" class="tag">ios6</a></li>
            </ul>
            <ul class="tag-index-section hidden">
              <li><a href="#" data-tid="1040000000089387" class="tag">php</a></li>
              <li><a href="#" data-tid="1040000000089534" class="tag">python</a></li>
              <li><a href="#" data-tid="1040000000137810" class="tag">七牛云存储</a></li>
              <li><a href="#" data-tid="1040000000089439" class="tag">mysql</a></li>
              <li><a href="#" data-tid="1040000000089918" class="tag">node.js</a></li>
              <li><a href="#" data-tid="1040000000090209" class="tag">objective-c</a></li>
              <li><a href="#" data-tid="1040000000090145" class="tag">nginx</a></li>
              <li><a href="#" data-tid="1040000000089899" class="tag">前端</a></li>
              <li><a href="#" data-tid="1040000000089488" class="tag">mongodb</a></li>
              <li><a href="#" data-tid="1040000000090220" class="tag">macosx</a></li>
              <li><a href="#" data-tid="1040000000089466" class="tag">mac</a></li>
              <li><a href="#" data-tid="1040000000089432" class="tag">nosql</a></li>
              <li><a href="#" data-tid="1040000000090338" class="tag">markdown</a></li>
              <li><a href="#" data-tid="1040000000090701" class="tag">oracle</a></li>
              <li><a href="#" data-tid="1040000000089911" class="tag">mvc</a></li>
              <li><a href="#" data-tid="1040000000089776" class="tag">qt</a></li>
              <li><a href="#" data-tid="1040000000090193" class="tag">oop</a></li>
              <li><a href="#" data-tid="1040000000120279" class="tag">orm</a></li>
              <li><a href="#" data-tid="1040000000115090" class="tag">面试题</a></li>
              <li><a href="#" data-tid="1040000000089873" class="tag">memcached</a></li>
            </ul>
            <ul class="tag-index-section hidden">
              <li><a href="#" data-tid="1040000000089399" class="tag">segmentfault</a></li>
              <li><a href="#" data-tid="1040000000089846" class="tag">数据库</a></li>
              <li><a href="#" data-tid="1040000000089401" class="tag">stackoverflow</a></li>
              <li><a href="#" data-tid="1040000000089524" class="tag">算法</a></li>
              <li><a href="#" data-tid="1040000000089699" class="tag">ruby</a></li>
              <li><a href="#" data-tid="1040000000090245" class="tag">ubuntu</a></li>
              <li><a href="#" data-tid="1040000000089646" class="tag">ruby-on-rails</a></li>
              <li><a href="#" data-tid="1040000000089467" class="tag">vim</a></li>
              <li><a href="#" data-tid="1040000000090049" class="tag">sql</a></li>
              <li><a href="#" data-tid="1040000000089669" class="tag">shell</a></li>
              <li><a href="#" data-tid="1040000000091266" class="tag">symfony</a></li>
              <li><a href="#" data-tid="1040000000200564" class="tag">ucloud</a></li>
              <li><a href="#" data-tid="1040000000089431" class="tag">redis</a></li>
              <li><a href="#" data-tid="1040000000126097" class="tag">sublime-text</a></li>
              <li><a href="#" data-tid="1040000000090482" class="tag">thinkphp</a></li>
              <li><a href="#" data-tid="1040000000089836" class="tag">typecho</a></li>
              <li><a href="#" data-tid="1040000000089688" class="tag">ssh</a></li>
              <li><a href="#" data-tid="1040000000150569" class="tag">unity3d</a></li>
              <li><a href="#" data-tid="1040000000089809" class="tag">socket</a></li>
              <li><a href="#" data-tid="1040000000116331" class="tag">tornado</a></li>
            </ul>
            <ul class="tag-index-section hidden">
              <li><a href="#" data-tid="1040000000117807" class="tag">web前端开发</a></li>
              <li><a href="#" data-tid="1040000000089794" class="tag">web</a></li>
              <li><a href="#" data-tid="1040000000126696" class="tag">又拍云存储</a></li>
              <li><a href="#" data-tid="1040000000089579" class="tag">xcode</a></li>
              <li><a href="#" data-tid="1040000000089653" class="tag">正则表达式</a></li>
              <li><a href="#" data-tid="1040000000090818" class="tag">微信</a></li>
              <li><a href="#" data-tid="1040000000089914" class="tag">wordpress</a></li>
              <li><a href="#" data-tid="1040000000089709" class="tag">windows</a></li>
              <li><a href="#" data-tid="1040000000090430" class="tag">网页爬虫</a></li>
              <li><a href="#" data-tid="1040000000089417" class="tag">网站</a></li>
              <li><a href="#" data-tid="1040000000089481" class="tag">网络</a></li>
              <li><a href="#" data-tid="1040000000189880" class="tag">微信公众平台</a></li>
              <li><a href="#" data-tid="1040000000089604" class="tag">移动web开发</a></li>
              <li><a href="#" data-tid="1040000000125894" class="tag">新浪微博</a></li>
              <li><a href="#" data-tid="1040000000090825" class="tag">webapp</a></li>
              <li><a href="#" data-tid="1040000000089583" class="tag">xml</a></li>
              <li><a href="#" data-tid="1040000000090121" class="tag">微博</a></li>
              <li><a href="#" data-tid="1040000000090507" class="tag">性能优化</a></li>
              <li><a href="#" data-tid="1040000000090505" class="tag">webview</a></li>
              <li><a href="#" data-tid="1040000000090740" class="tag">web.py</a></li>
            </ul>
          </div>
          <ul class="common-search-list" style="display: none;"></ul>
        </div>


        <div class="p">
          <input type="checkbox" disabled=""> 转发到新浪微博 <a href="http://segmentfault.com/user/settings?tab=auth" target="_blank" tabindex="6">绑定 ↩</a>
        </div>

      </div>
      <!-- end #edit-secondary -->
    </form>
  </div>

</div>