<!--[if lt IE 9]>
<div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->

<div class="global-nav">
  <nav class="global-nav container">
    <ul class="site-nav-extr">
      <li class=""><a href="http://segmentfault.com/">问答</a></li>
      <li class=""><a href="http://segmentfault.com/news">文章</a></li>
    </ul>
    <a href="###" id="site-nav-btn" class="visible-xs">更多</a>
    <ul class="site-nav hidden-xs">
      <li class="hidden-xs "><a href="http://segmentfault.com/">问答</a></li>
      <li class=""><a href="http://segmentfault.com/blogs">博客</a></li>
      <li class=""><a href="http://segmentfault.com/tags">标签</a></li>
      <li class=""><a href="http://segmentfault.com/users">用户</a></li>
      <li class=""><a href="http://segmentfault.com/badges">徽章</a></li>
      <li class=""><a href="http://segmentfault.com/events">活动</a></li>
    </ul>

    <ul class="user-nav">
      <li>
        <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
      </li>
      <li>
        <a href="http://segmentfault.com/user/register">注册</a>
      </li>
    </ul>
  </nav>
  <!-- end .global-nav -->
</div>
<header class="site-header">
  <div class="container inner clearfix">
    <div class="head-name">
      <a href="http://segmentfault.com/users">
        <span class="head-logo">SegmentFault</span>
        <strong>用户</strong>
      </a>
    </div>
    <div class="head-search">
      <form id="search" action="http://segmentfault.com/search">
        <input type="text" class="form-control text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
        <button class="btn-search" type="submit">搜索</button>
        <input type="hidden" name="tab" value="user"/>
      </form>
    </div>
    <ul class="head-nav">
      <li><a href="http://segmentfault.com/users">用户排行</a></li>
    </ul>
  </div>
</header><!-- end .site-header -->
<div class="container wrap">

  <div class="row min-inner session-edge">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <h2 class="big-title">注册</h2>

      <p class="title-description">您正在注册本站独立帐号，我们推荐您使用第三方帐号登录</p>

      <form class="session-form" action="http://segmentfault.com/user/register/post?_=79e1433f2b1f877190e0268fc92d9967" method="post">
        <div class="session-aside">
          如果您有下列网站帐号，可使用这些帐号<a href="http://segmentfault.com/user/login">直接登录</a>，无需注册
          <a style="display: block; margin-top: 6px; text-decoration: none;" href="http://segmentfault.com/user/login">
            <i class="i-google">Google</i>
            <i class="i-github">Github</i>
            <i class="i-weibo">新浪微博</i>
            <i class="i-tqq">腾讯微博</i>
            <i class="i-twitter">Twitter</i>
            <i class="i-facebook">Facebook</i>
            <i class="i-renren">人人</i>
            <i class="i-douban">豆瓣</i>
          </a>
        </div>
        <p>
          <label for="mail" class="hid">Email 地址</label>
          <input type="email" name="mail" placeholder="Email 地址" value="" class="form-control input-lg text-34" required/>
        </p>

        <p>
          <label for="password" class="hid">登录密码</label>
          <input type="password" name="password" placeholder="登录密码" class="form-control input-lg text-34" required/>
        </p>

        <p>
          <label for="name" class="hid">常用昵称或真名</label>
          <input type="text" name="name" maxlength="32" placeholder="常用昵称或真名" value="" class="form-control input-lg text-34" required/>
        </p>

        <div class="form-action">
          <span class="left">您将同意并接受<a href="http://segmentfault.com/tos" target="_blank">《服务条款》</a></span>
          <input type="submit" class="btn btn-primary btn-lg btn-xl" value="注册"/>
        </div>
      </form>
    </div>
  </div>

</div><!-- end .wrap -->

<footer id="footer">
  <div class="container">
    <div class="row inner hidden-xs">
      <dl class="col-sm-2 site-link">
        <dt>网站相关</dt>
        <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
        <dd><a href="http://segmentfault.com/tos">服务条款</a></dd>
        <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
        <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
        <dd><a href="http://weekly.segmentfault.com/">每周精选</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>联系合作</dt>
        <dd><a href="http://segmentfault.com/hiring">加入我们</a></dd>
        <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
        <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>常用链接</dt>
        <dd><a href="http://blog.segmentfault.com/devblog" target="_blank">开发日志</a></dd>
        <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
        <dd><a href="http://segmentfault.com/events?category=4">黑客马拉松</a></dd>
        <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        <dd><a href="http://mirrors.segmentfault.com/">文档镜像</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>关注我们</dt>
        <dd><a href="http://segmentfault.com/feeds">问答 RSS 订阅</a></dd>
        <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
        <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
        <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
        <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
      </dl>
      <dl class="col-sm-4 site-link" id="license">
        <dt>内容许可</dt>
        <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
        <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC
          服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&amp;utm_medium=link&amp;utm_campaign=upyun&amp;md=segmentfault">又拍云</a> 提供 CDN 存储服务
        </dd>
      </dl>
    </div>
    <div class="copyright">
      Copyright &copy; 2011-2014 SegmentFault. 当前呈现版本 14.3.20 <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
  </div>
</footer>

<div class="login-notify hidden-xs">
  <button type="button" class="close right i-cancel">&times;</button>

  <div class="container">
    <div class="row">
      <div class="text-center col-md-6">
<pre>
</pre>
      </div>
      <div class="col-md-6">
        <h2>SegmentFault</h2>

        <p>最前沿的开发者技术问答社区，限时开放注册中！</p>
        <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/google"><i class="i-google"></i>Google</a>
        <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/github"><i class="i-github"></i>GitHub</a>
        <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/weibo"><i class="i-weibo"></i>新浪微博</a>
        <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/qq"><i class="i-qq"></i>腾讯QQ</a>
      </div>
    </div>
  </div>

</div><!-- end .login-notify -->

<div class="login-questionpart">
  <div class="login-qp-box">
    <h3>客官为什么不登录一下？</h3>
    <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/google"><i class="i-google"></i>Google</a>
    <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/github"><i class="i-github"></i>GitHub</a>
    <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/weibo"><i class="i-weibo"></i>新浪微博</a>
    <a class="auth-small" onClick="_gaq.push(['_trackEvent', 'oauth', 'click']);" href="https://segmentfault.com/user/oauth/qq"><i class="i-qq"></i>腾讯QQ</a>
  </div>
</div>

<a id="backtop" class="mobi-hide hidden" href="#body">回顶部</a>


<script>$(document).ready(function () {
    $('#session').login();
    $('input, textarea').placeholder();
    $('input.input-error,textarea.input-error').keyup(function () {
        $('.text-error', $(this).removeClass('input-error').parent()).remove();
    });
    $('.has-dropdown > a').click(function () {
        var $item = $(this).parent();
        $("#site-nav-btn").removeClass('active');
        $('.site-nav').addClass('hidden-xs');
        $(".has-dropdown").not($item).removeClass('active');
        $item.toggleClass('active');
        return false;
    });
    $('html').click(function () {
        $(".has-dropdown, #site-nav-btn").removeClass('active');
        $('.site-nav').addClass('hidden-xs');
    });
    $('#site-nav-btn').click(function () {
        $(".has-dropdown").removeClass('active');
        $(this).toggleClass('active');
        $('.site-nav').toggleClass('hidden-xs');
        return false;
    });
    $(document).scroll(function () {
        if ($(this).scrollTop() > 720) {
            $('#backtop').removeClass('hidden');
        } else {
            $('#backtop').addClass('hidden');
        }
    });
    $('#backtop').click(function () {
        $('body,html').animate({scrollTop: 0});
        return false;
    })
    $('#msg-link').eventPopup({url: 'http://x.segmentfault.com/event'});
    $('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag', '#main');
    $('#search .input-search').searchAutoComplete({url: 'http://x.segmentfault.com/autocomplete', insertAfter: '#search', searchUrl: 'http://segmentfault.com/search', askUrl: 'http://segmentfault.com/ask', ask: '#top-nav a.btn-m'});
    $('button.close', $('.top-alert').fadeIn()).click(function () {
        $(this).parents('.top-alert').fadeOut(function () {
            $(this).remove();
        });
        return false;
    });
    $('a.msg-close', $('#msg-bar').fadeIn().sticky()).click(function () {
        $(this).parent().fadeOut(function () {
            $(this).parent().remove();
        });
        return false;
    });
    var topNav = $('.head-nav'), search = $('#search .input-search').css({'position': 'relavtive', 'z-index': 10}), searchWidth = search.outerWidth();
    search.focus(function () {
        search.animate({width: searchWidth * 1.5}, 'fast');
        topNav.hide();
    }).blur(function () {
        if (0 == search.val().length) {
            search.animate({width: searchWidth}, 'fast', function () {
                topNav.show();
            });
        }
    });
    $('[rel=tooltip]').tooltip({container: 'body'});
    if ($('#profile-tab,.greeting').length > 0) {
        $.get('http://x.segmentfault.com/news', function (o) {
            if (!o.status && o.data) {
                var cv = $.cookie('sfns_viewed'), viewed = (!!cv ? cv + ',' : '');
                if (viewed.indexOf(o.data[0]) < 0) {
                    var a = $('<a href="' + o.data[1] + '" target="_blank" class="update-log rounded-2">'
                            + '<strong>' + o.data[3] + '更新</strong> ' + o.data[2] + '</a>').prependTo('#secondary').animate({backgroundColor: '#ffebb7'}, 'slow', function () {
                        $(this).animate({backgroundColor: '#FFF7E2'}, 'slow');
                    }).click(function () {
                        $.cookie('sfns_viewed', viewed + o.data[0], {path: '/', expires: 30});
                        $(this).remove();
                    });
                }
            }
        }, 'jsonp');
    }
    if (login) {
        $('#main, .layout-main').highlightTag({url: 'http://x.segmentfault.com/tag/following', selector: '#content article .meta-tags li a, #user-question article .meta-tags li a,'
                + ' .article-item .tags li a', className: 'q-highlight'});
    } else if (0 == $('.auth-login,.session-form,.session-finished').length) {
        if (1 != $.cookie('sfln_viewed')) {
            $.cookie('sfln_viewed', 1, {path: '/'});
            $.cookie('sfln_available', 1, {path: '/'});
        } else if (1 == $.cookie('sfln_available')) {
            $('.i-cancel', $('.login-notify').css('bottom', -60).removeClass('hidden').animate({'bottom': 0})).click(function () {
                $.cookie('sfln_available', 0, {path: '/'});
                $(this).parents('.login-notify').animate({'bottom': -60}, function () {
                    $(this).remove();
                })
                return false;
            });
        } else if (0 == $.cookie('sfln_available')) {
            $('.login-notify').css({'padding': '10px 0', 'text-align': 'center', 'bottom': -80}).html('<div class="row find-more-world">一寸代码一寸血，十万开发十万军 <a id="login-link" href="http://segmentfault.com/user/login">加入我们</a> 创造属于开发者的时代</div>').animate({'bottom': 0});
        }
    }
    var tagInterestShow = false;
    $('.tag-interest-click').click(function () {
        if (!tagInterestShow) {
            $('.tag-interest-list').fadeIn();
            tagInterestShow = true;
        } else {
            $('.tag-interest-list').fadeOut();
            tagInterestShow = false;
        }
        return false;
    });
    function hotkeySubmit1(arg) {
        $(arg.parents).on('focus', arg.textArea, function () {
            var t = $(this).closest(arg.scope);
            Mousetrap.bind(arg.hotkey, function () {
                $(arg.submitBtn, t).trigger('click');
            });
        }).on('blur', '.mousetrap', function () {
            Mousetrap.bind(arg.hotkey, function () {
                return false;
            });
        });
    }

    hotkeySubmit1({parents: '.write-event-comment', textArea: '.mousetrap', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '.write-event-comment', textArea: '.mousetrap', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '.write-content', textArea: '#wmd-input', scope: 'body', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.action'});
    hotkeySubmit1({parents: '#blog-main', textArea: '#comment-text', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '.comment-list', textArea: '.add-comment-text', scope: '.add-comment', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'button[type = submit]'});
    hotkeySubmit1({parents: '#write-answer', textArea: '#wmd-input', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'input[type = submit]'});
    hotkeySubmit1({parents: '#question', textArea: '.add-comment-text', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'input[type = submit]'});
    hotkeySubmit1({parents: '#question', textArea: '.modify-comment-text', scope: '.add-comment', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.action'});
    hotkeySubmit1({parents: '#answer', textArea: '.add-comment-text', scope: 'form', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: 'input[type = submit]'});
    hotkeySubmit1({parents: '#answer', textArea: '.modify-comment-text', scope: '.add-comment', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.action'});
    hotkeySubmit1({parents: '#ask', textArea: '#wmd-input', scope: '#ask', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.ask-q-submit'});
    hotkeySubmit1({parents: '.edit-post', textArea: '#wmd-input', scope: 'body', hotkey: ['command+enter', 'ctrl+enter'], submitBtn: '.edit-q-submit'});
    var $adImgs = $('.ad-imgs');
    if ($adImgs.length > 0) {
        $adImgs.find('.ai-item').each(function () {
            var $close = $(this).find('.close');
            if ($.cookie($(this).data('adn')) == 1) {
                $(this).hide();
            }
            $close.on('click', function () {
                $(this).parent().slideUp();
                $.cookie($(this).parent().data('adn'), 1);
            })
            $(this).on('mouseover', function () {
                $close.show();
            }).on('mouseout', function () {
                $close.hide();
            })
        })
    }
});
</script>
<script>$(document).ready(function () {
    var naked_url = {'img': 'http://s.segmentfault.com/img/naked/?14.3.24.1'};
    $('.session-edge input[name=password]').nakedPassword({path: naked_url['img'].split("?")[0]});
    $('.session-edge input[name=mail]').focus();
});</script>