<ul class="user-nav">
  <li class="has-dropdown">
    <a href="http://segmentfault.com/ask">撰写</a>
    <ul class="dropdown-item">
      <li><a href="http://segmentfault.com/ask">提出问题</a></li>
      <li><a href="http://segmentfault.com/write">撰写博客</a></li>
      <li class="hr"><a href="http://segmentfault.com/drafts">草稿</a></li>
    </ul>
  </li>
  <li class="has-dropdown">
    <a id="msg-link" href="http://segmentfault.com/user/events">消息</a>
  </li>
  <li class="has-dropdown">
    <a href="http://segmentfault.com/u/seeyoup">seeyoup <i class="i-arrow-s"></i></a>
    <ul class="dropdown-item">
      <li><a href="http://segmentfault.com/u/seeyoup">我的主页</a></li>

      <li><a href="http://blog.segmentfault.com/up">我的博客</a></li>

      <li><a href="http://segmentfault.com/user/settings">帐号设置</a></li>
      <li><a href="http://segmentfault.com/user/logout">退出</a></li>
      <li class="hr"><a href="http://segmentfault.com/faq">帮助中心</a></li>
      <li><a href="http://0x.segmentfault.com">建议反馈</a></li>
    </ul>
  </li>
</ul>

